<html>
<HEAD>
	<meta http-equiv="content-type" content="text/html; charset=<{$charset}>">
	<TITLE><{$xoops_sitename}> - <{$xoops_pagetitle}></TITLE>
</HEAD>
<BODY>


	<TABLE WIDTH=100% BGCOLOR="#FFE566"><TR><TD><{$photo.title}></TD></TR></TABLE>

	<HR COLOR="#FFE566">
	<{*Show Infos*}>
	<TABLE WIDTH=100% >
		<{if $photo.fax}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_fax}></FONT></TD></TR><TR><TD><{$photo.fax}></TD></TR><{/if}>
		<{if $photo.zip}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_zip}></FONT></TD></TR><TR><TD><{$photo.zip}></TD></TR><{/if}>
		<{if $photo.fax}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_url}></FONT></TD></TR><TR><TD><{$photo.url}>&nbsp;<{$photo.tel}></TD></TR><{/if}>
		<{if $photo.address}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_address}></FONT></TD></TR><TR><TD><{$photo.address}></TD></TR><{/if}>

	</TABLE>


	<{*Show Images*}>

	<{if $photo.ext}>
		<{if !$morepage}>
			<img src=<{$photo.imgsrc_thumb}> >
		<{else}>
			[<A HREF=<{$photo.ahref_thumb}>><{$lng_mobile_photo1}></A>]
		<{/if}>
		<{if $photo.caption}><BR><{$photo.caption}><{/if}>
		<BR>
	<{/if}>
	<{if $photo.ext1}>
		<{if $morepage==1}>
			<img src=<{$photo.imgsrc_thumb1}> >
		<{else}>
			[<A HREF=<{$photo.ahref_thumb1}>><{$lng_mobile_photo2}></A>]
		<{/if}>
		<{if $photo.caption1}><BR><{$photo.caption1}><{/if}>
		<BR>
	<{/if}>
	<{if $photo.ext2}>
		<{if $morepage==2}>
			<img src=<{$photo.imgsrc_thumb2}> >
		<{else}>
			[<A HREF=<{$photo.ahref_thumb2}>><{$lng_mobile_photo3}></A>]
		<{/if}>
		<{if $photo.caption2}><BR><{$photo.caption2}><{/if}>
		<BR>
	<{/if}>
	<{*Show Images only link*}>
<{$lang_others}><BR>

	<{if $photo.ext3}>
		<{if $morepage==3}>
			[<A HREF=<{$photo.ahref_thumb3}>><{$lng_mobile_photo4}></A>]
		<{else}>
			[<A HREF=<{$photo.ahref_thumb3}>><{$lng_mobile_photo4}></A>]
		<{/if}>
		<{if $photo.caption3}><BR><{$photo.caption3}><{/if}>
		<BR>
	<{/if}>
	
	<{if $photo.ext4}>
		<{if $morepage==4}>
			[<A HREF=<{$photo.ahref_thumb4}>><{$lng_mobile_photo5}></A>]
		<{else}>
			[<A HREF=<{$photo.ahref_thumb4}>><{$lng_mobile_photo5}></A>]
		<{/if}>
		<{if $photo.caption4}><BR><{$photo.caption4}><{/if}>
		<BR>
	<{/if}>

	<{if $photo.ext5}>
		<{if $morepage==5}>
			[<A HREF=<{$photo.ahref_thumb5}>><{$lng_mobile_photo6}></A>]
		<{else}>
			[<A HREF=<{$photo.ahref_thumb5}>><{$lng_mobile_photo6}></A>]
		<{/if}>
		<{if $photo.caption5}><BR><{$photo.caption5}><{/if}>
		<BR>
	<{/if}>

	<{if $photo.ext6}>
		<{if $morepage==6}>
			[<A HREF=<{$photo.ahref_thumb6}>><{$lng_mobile_photo7}></A>]
		<{else}>
			[<A HREF=<{$photo.ahref_thumb6}>><{$lng_mobile_photo7}></A>]
		<{/if}>
		<{if $photo.caption6}><BR><{$photo.caption6}><{/if}>
		<BR>
	<{/if}>

	<{if $photo.ext7}>
		<{if $morepage==7}>
			[<A HREF=<{$photo.ahref_thumb7}>><{$lng_mobile_photo8}></A>]
		<{else}>
			[<A HREF=<{$photo.ahref_thumb7}>><{$lng_mobile_photo8}></A>]
		<{/if}>
		<{if $photo.caption7}><BR><{$photo.caption7}><{/if}>
		<BR>
	<{/if}>

	<{if $photo.ext8}>
		<{if $morepage==8}>
			[<A HREF=<{$photo.ahref_thumb8}>><{$lng_mobile_photo9}></A>]
		<{else}>
			[<A HREF=<{$photo.ahref_thumb8}>><{$lng_mobile_photo9}></A>]
		<{/if}>
		<{if $photo.caption8}><BR><{$photo.caption8}><{/if}>
		<BR>
	<{/if}>
	

	<{*Show Map*}>

	<{if $map}>
		<HR COLOR="#99CCFF">

		<TABLE WIDTH=100% BGCOLOR="#99CCFF"><TR>
			<TD ><{$lang_map}></TD>
			<TD ALIGN=RIGHT>[<A HREF="index.php<{$maplink_option}><{$agent}>"><{$lng_mobile_show_area}></A>]</TD>
		</TR></TABLE>

		<HR COLOR="#99CCFF">

		<img src=<{$mymap}> alt=GoogleMap>

		<HR COLOR="#99CCFF">
	<{/if}>
	
	<{*Show Description*}>

	<{if $moreprev>-1}><A HREF="?lid=<{$photo.lid}>&more=<{$moreprev}><{$agent}>"><{$lng_mobile_prev}></A>...<{/if}>
	<{$description}>
	<{if $more}>...<A HREF="?lid=<{$photo.lid}>&more=<{$more}><{$agent}>"><{$lng_mobile_next}></A><{/if}>

	<BR>
	<{*Show Infos 2 *}>

	<TABLE WIDTH=100% >
		<{if $photo.other1}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other1}></FONT></TD></TR><TR><TD><{$photo.other1}></A></TD></TR><{/if}>
		<{if $photo.other2}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other2}></FONT></TD></TR><TR><TD><{$photo.other2}></A></TD></TR><{/if}>
		<{if $photo.other3}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other3}></FONT></TD></TR><TR><TD><{$photo.other3}></A></TD></TR><{/if}>
		<{if $photo.other4}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other4}></FONT></TD></TR><TR><TD><{$photo.other4}></A></TD></TR><{/if}>
		<{if $photo.other5}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other5}></FONT></TD></TR><TR><TD><{$photo.other5}></A></TD></TR><{/if}>
		<{if $photo.other6}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other6}></FONT></TD></TR><TR><TD><{$photo.other6}></A></TD></TR><{/if}>
		<{if $photo.other7}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other7}></FONT></TD></TR><TR><TD><{$photo.other7}></A></TD></TR><{/if}>
		<{if $photo.other8}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other8}></FONT></TD></TR><TR><TD><{$photo.other8}></A></TD></TR><{/if}>
		<{if $photo.other9}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other9}></FONT></TD></TR><TR><TD><{$photo.other9}></A></TD></TR><{/if}>
		<{if $photo.other10}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other10}></FONT></TD></TR><TR><TD><{$photo.other10}></A></TD></TR><{/if}>
		<{if $photo.other11}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other11}></FONT></TD></TR><TR><TD><{$photo.other11}></A></TD></TR><{/if}>
		<{if $photo.other12}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other12}></FONT></TD></TR><TR><TD><{$photo.other12}></A></TD></TR><{/if}>
		<{if $photo.other13}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other13}></FONT></TD></TR><TR><TD><{$photo.other13}></A></TD></TR><{/if}>
		<{if $photo.other14}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other14}></FONT></TD></TR><TR><TD><{$photo.other14}></A></TD></TR><{/if}>
		<{if $photo.other15}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other15}></FONT></TD></TR><TR><TD><{$photo.other15}></A></TD></TR><{/if}>
		<{if $photo.other16}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other16}></FONT></TD></TR><TR><TD><{$photo.other16}></A></TD></TR><{/if}>
		<{if $photo.other17}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other17}></FONT></TD></TR><TR><TD><{$photo.other17}></A></TD></TR><{/if}>
		<{if $photo.other18}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other18}></FONT></TD></TR><TR><TD><{$photo.other18}></A></TD></TR><{/if}>
		<{if $photo.other19}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other19}></FONT></TD></TR><TR><TD><{$photo.other19}></A></TD></TR><{/if}>
		<{if $photo.other20}><TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$lang_other20}></FONT></TD></TR><TR><TD><{$photo.other20}></A></TD></TR><{/if}>
		
		<{foreach from=$photo.addinfo item=addinfo}>
			<TR><TD BGCOLOR="#EFEFEF"><FONT COLOR=#990000><{$addinfo.title}></FONT></TD></TR><TR><TD><{$addinfo.desc}></TD></TR>
		<{/foreach}>
	</TABLE>

	<HR COLOR="#FFE566">
	<FONT SIZE=1><{$photo.mycat}></FONT>

	<HR COLOR="#FFE566">

	<TABLE WIDTH=100% BGCOLOR="#EFEFEF">
		<TR>
			<TD ALIGN=CENTER><FONT SIZE=1><A HREF=index.php><{$lang_top_link}></A></FONT></TD>
		</TR>		
	</TABLE>
</BODY>
</HTML>